@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/utoImagegothic/UtoImageGothic.css');
@import url('https://webfontworld.github.io/leferi/LeferiPointBlack.css');
@import url('https://webfontworld.github.io/Healthset/HealthsetGothic.css');
@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
@import url('https://webfontworld.github.io/miryang/MYArirangGothic.css');
@import url('https://webfontworld.github.io/NexonLv2Gothic/NexonLv2Gothic.css');
@import url('https://webfontworld.github.io/Montserrat/Montserrat.css');
@import url('https://webfontworld.github.io/Oswald/Oswald.css');
@import url('https://webfontworld.github.io/TheJamsil/TheJamsil.css');


* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
  }
a {
    text-decoration: none;
    columns: #222;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}
li,ul,ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
.font01 {
    font-family: NexonLv1Gothic;
    font-weight: 300;
}
.font02 {
    font-family: UtoImageGothic;
}
.font03 {
    font-family: LeferiPointBlack;
}
.font04 {
    font-family: HealthsetGothic;
}
.font05 {
    font-family: LocusSangsang;
}
.font06 {
    font-family: AritaBuri;
}
.font07 {
    font-family: NexonLv2Gothic;
}
.font08 {
    font-family: Montserrat;
}
.font09 {
    font-family: Oswald;
}
.font10 {
    font-family: TheJamsil;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    color: #fff;
}

body.img01 {
    background-image: url(../img/Effect_bg01-min.jpg);
}
body.img02 {
    background-image: url(../img/Effect_bg02-min.jpg);
}
body.img03 {
    background-image: url(../img/Effect_bg03-min.jpg);
}
body.img04 {
    background-image: url(../img/Effect_bg04-min.jpg);
}
body.img05 {
    background-image: url(../img/Effect_bg05-min.jpg);
}
body.img06 {
    background-image: url(../img/Effect_bg06-min.jpg);
}
body.img07 {
    background-image: url(../img/Effect_bg07-min.jpg);
}
body.img08 {
    background-image: url(../img/Effect_bg08-min.jpg);
}
body.img09 {
    background-image: url(../img/Effect_bg09-min.jpg);
}
body.img10 {
    background-image: url(../img/Effect_bg10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(5, 36, 70, 0.75);
    z-index: -1;
}
body.bg01::after {
    background: rgba(50, 95, 11, 0.75);
}
body.bg02::after {
    background: rgba(11, 74, 30, 0.75);
}
body.bg03::after {
    background: rgba(81, 4, 48, 0.75);
}
body.bg04::after {
    background: rgba(105, 8, 8, 0.75);
}
body.bg05::after {
    background: rgba(92, 3, 81, 0.95);
}
body.bg06::after {
    background: rgba(2, 21, 34, 0.75);
}
body.bg07::after {
    background: rgba(5, 14, 70, 0.75);
}
body.bg08::after {
    background: rgba(18, 5, 70, 0.75);
}
body.bg09::after {
    background: rgba(30, 5, 70, 0.75);
}
body.bg10::after {
    background: rgba(70, 5, 38, 0.75);
}
