* {
  margin: 0;
  padding: 0;
}
.ir {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
a {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  object-fit: cover;
}
ul,
li,
ol {
  list-style: none;
}
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
abbr,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
input,
button,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.date {
  padding: 0 10px;
  color: #777;
}
#header {
  height: 150px;
  width: 100%;
}
.t_header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #000;
}
.t_header > div {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  height: 50px;
  padding: 8px;
}
.header_sns {
  display: flex;
  margin-right: 10px;
}
.header_sns > li {
  margin-left: 2px;
}
.header_sns > li > a {
  display: inline-block;
}
.header_sns > li > a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 28px;
  background-image: url(image/sns_ir.png);
  background-repeat: no-repeat;
  margin: 2px 0;
}
.header_sns > li:nth-child(2) > a::before {
  background-position: -34px 0;
}
.header_sns > li:nth-child(3) > a::before {
  background-position: -67px 0;
}
.header_sns > li:nth-child(4) > a::before {
  background-position: -100px 0;
}
.header_sns > li:nth-child(5) > a::before {
  background-position: -132px 0;
}
.header_info {
  display: flex;
}
.header_info > li {
  margin-left: 2px;
}
.header_info > li > a {
  display: inline-block;
}
.header_info > li > a::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 28px;
  background-image: url(image/guide_ir.png);
  background-repeat: no-repeat;
  margin: 2px 0;
}
.header_info > li:nth-child(2) > a::before {
  background-position: -34px 0;
}
.notice_wrap {
  float: left;
  position: relative;
  height: 50px;
  margin-left: 135px;
  overflow: hidden;
}
.notice_icon {
  position: relative;
}
.notice_icon::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 13px;
  height: 50px;
  background: url(image/icon_notice.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.notice_slider {
  height: 50px;
  overflow: hidden;
}
.notice {
  position: relative;
  width: 100%;
}
.notice li {
  height: 50px;
  padding: 2px;
}
.notice li a {
  display: block;
  padding: 13px 50px 15px 25px;
  line-height: 19px;
}
.b_header {
  width: 100%;
  height: 100px;
  background-color: #333;
}

#main {
  width: 100%;
  height: auto;
}
#slider {
}

.travel_commend {
}
.destination {
}
.travel_info {
}
.travel_blog {
}

#footer {
}
