
/* header */
#header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #6d00b6;
    color: #fff;
    padding: 10px;
    margin-bottom: 100px;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}
#header::before {
    content: '';
    border: 4px ridge #cc9aee;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#header h1 {
    font-size: 28px;
    padding: 5px 5px 5px 10px;
    font-family: 'DungGeunMo';
    z-index: 10;
    position: relative;
}
#header h1 a {
    color: #fff;
}
#header h1 em {
    font-size: 0.5em; /* em은 부모박스의 크기를 기준으로 1은 부모박스 크기 /rm은 루트 폴더기준 */
}
#header ul {
    padding: 5px;
}

#header li {
    display: inline;
    z-index: 10;
    position: relative;
}

#header li a {
    color: #fff;
    font-family: 'DungGeunMo';
    border: 1px dashed #fff;
    display: inline-block;
    padding: 5px;
}
#header li.active a,
#header li a:hover {
    background-color: #fff;
    color: #000;
}

/* main */
#main {
    padding: 100px 0;
}


/* footer */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6d00b6;
    text-align: center;
    border-top: 6px solid #6d00b6;
}
footer a {
    color: #fff;
    padding: 20px;
    display: block;
    font-family: 'DungGeunMo';
    z-index: 10;
    position: relative;
}
#footer::before {
    content: '';
    border: 4px ridge #cc9aee;
    position: absolute;
    left: 5px;
    top: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
}
#main {
    padding-bottom: 100px;
}

/* quiz__wrap */
.quiz__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}
.quiz__scr {
    height: 50vh;
    width: 50vw;
    font-size: 2.5vw;
    padding: 200px 0;
    position: absolute;
    border-radius: 20px;
    color: #fff;
    background-color: #6d00b6;
    text-align: center;
}
.quiz__scr::before {
    content: '';
    border: 4px dashed #fff;
    border-radius: 15px;
    position: absolute;
    left: 15px;
    top: 15px;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
}
.quiz__wrap .quiz {
    width: 500px;
    background-color: #fff;
    border: 8px ridge #cc9aee;
    margin: 10px;
}
.quiz__title {
    background: #a022f3;
    border: 3px ridge #cc9aee;
    border-bottom-width: 6px;
    padding: 5px;
    font-family: 'DungGeunMo';
    font-size: 16px;
    color: #fff;
    text-align: center;
}
.quiz__question {
    padding: 20px;
    font-size: 24px;
    font-family: 'EliceDigitalBaeum';
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 6px ridge #cc9aee;
}
.quiz__question em {
    color: #9922e9;
}
.quiz__answer {
    font-family: 'EliceDigitalBaeum';
    font-size: 24px;
    padding: 20px;
    text-align: center;
    /* border-bottom: 6px ridge #cc9aee; */
}

.quiz__answer .confirm {
    background-color: #cc9aee;
    border: 6px ridge #cc9aee;
    width: 100%;
    font-family: 'EliceDigitalBaeum';
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    transform: all 0.3s;
    font-weight: bold;
}
.quiz__answer .confirm:hover {
    background-color: #d6b3ee;
}
.quiz__answer .next {
    background-color: #d3a4ff;
    border: 6px ridge #d3a4ff;
    width: 100%;
    font-family: 'EliceDigitalBaeum';
    padding: 10px 20px;
    font-size: 22px;
    cursor: pointer;
    transform: all 0.3s;
    font-weight: bold;
}
.quiz__answer .next:hover {
    background-color: #b068f3;
}
.quiz__answer .result {
    background-color: #fff;
    border: 6px groove #cc9aee;
    width: 100%;
    font-family: 'EliceDigitalBaeum';
    padding: 10px 20px;
    font-size: 22px;
    /* display: none; */
}
.quiz__answer .input {
    background-color: #fff;
    border: 6px ridge #cc9aee;
    width: 100%;
    font-family: 'EliceDigitalBaeum';
    padding: 10px 20px;
    font-size: 22px;
    margin-bottom: 10px;
    /* display: none; */
}
.quiz__view {
    border-bottom: 6px ridge #cc9aee;
    overflow: hidden;
}
.quiz__desc {
    border-top: 6px ridge #cc9aee;
    padding: 20px;
    font-family: 'EliceDigitalBaeum';
    background-color: #f5f5f5;
    /* display: none; */
}
.quiz__desc::before {
    content: '😘Tip ';
    color: #F5534F;
    font-weight: bold;
}
.quiz__choice {
    padding: 20px;
    border-bottom: 6px ridge #cc9aee;
    font-family: 'EliceDigitalBaeum';
}

.quiz__choice label {
    display: flex;
}
.quiz__choice label input {
    position:absolute;
    clip:rect(0 0 0 0);
    width:1px;
    height:1px;
    margin:-1px;
    overflow:hidden;
}
.quiz__choice label span {
    font-size: 20px;
    line-height: 1.4;
    padding: 6px;
    display: flex;
    cursor: pointer;
    margin: 2px 0;
}

.quiz__choice label span::before{
    content: '';
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 15px;
    background: #fff;
    box-shadow: inset 0 0 0 4px #9922e9;
    transition: all 0.2s;
    flex-shrink: 0;
}

.quiz__choice label input:checked + span {
    background-color: #f2e0ff;
}

.quiz__choice label input:checked + span::before {
    box-shadow: inset 0 0 0 8px #9922e9;
}

.quiz__check {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 130px;
    height: 130px;
    line-height: 130px;
    border-radius: 50%;
    z-index: 1000;
    text-align: center;
    background: #000;
    color: #fff;
    font-family: 'EliceDigitalBaeum';
    cursor: pointer;
}
.quiz__info {
    position: fixed;
    right: 20px;
    bottom: 170px;
    background-color: #fc3333;
    text-align: center;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-family: 'EliceDigitalBaeum';
    color: #fff;
}
.quiz__info::after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: -10px;
    border-top: 10px solid #fc3333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.quiz__cnt {
    display: inline-block;
    position: absolute;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    color: #fff;
    background-color: #6d00b6;
}

/* CBT 유형 */
.quiz__wrap__cbt {
    font-family: 'EliceDigitalBaeum';
    padding: 0 20px;
}
.cbt__conts {
    width: calc(100% - 300px);
    background-color: #fff;
}
.cbt__time {
    position: relative;
    padding-left: 40px !important;
    margin: 3px 0;
    float: right;
}
.cbt__time::before{
    content: '';
    position: absolute;
    left: 11px;
    top: 3px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-alarm' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23a022f3' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='13' r='7' /%3E%3Cpolyline points='12 10 12 13 14 13' /%3E%3Cline x1='7' y1='4' x2='4.25' y2='6' /%3E%3Cline x1='17' y1='4' x2='19.75' y2='6' /%3E%3C/svg%3E");
}
.cbt__submit {
    position: relative;
    padding-left: 40px !important;
    margin: 3px 0;
    float: right;
}
.cbt__submit::before{
    content: '';
    position: absolute;
    left: 11px;
    top: 3px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-arrow-bar-to-down' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='%23a022f3' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='4' y1='20' x2='20' y2='20' /%3E%3Cline x1='12' y1='14' x2='12' y2='4' /%3E%3Cline x1='12' y1='14' x2='16' y2='10' /%3E%3Cline x1='12' y1='14' x2='8' y2='10' /%3E%3C/svg%3E");
}
.cbt__header {
    width: calc(100% - 300px);
    border: 8px ridge #cc9aee;
    margin-bottom: 20px;
    background-color: #f8E0Dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #313E55;
    padding: 20px;
}

.cbt__header > div > div {
    background-color: #ffffff;
    display: inline-block;
    margin: 5px;
    color: #313E55;
    padding: 3px 10px;
    border-radius: 20px;
}



.cbt__aside {
    position: absolute;
    right: 20px;
    top: 100px;
    width: 280px;
    height: 800px;
    background-color: #fff;
    border: 8px ridge #cc9aee;

}
.cbt__quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cbt__quiz .cbt {
    width: 49%;
    border: 8px ridge #cc9aee;
    margin-bottom: 10px;
    padding: 20px;
}
.cbt__quiz .cbt.good {
    position: relative;
}
.cbt__quiz .cbt.good::after {
    content: '';
    background-image: url(../img/good_1000.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}
.cbt__quiz .cbt.bad {
    position: relative;
}
.cbt__quiz .cbt.bad::after {
    content: '';
    background-image: url(../img/bad_1000.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
}


.cbt__info {
    background-color: #f8E0Dc;
    border-bottom: 8px ridge #cc9aee;
    padding: 20px;
    text-align: center;
    color: #313E55;


}
.cbt__info .tittle {
    text-decoration: underline;
    text-underline-offset: 4px;
    margin-bottom: 5px;
}
.cbt__info span {
    display: inline-block;
}

.cbt__omr {
    padding: 20px;
}
.cbt__omr .omr {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 50px 38px 38px 38px 38px;
    grid-template-rows: 20px;
    align-items: center;
}
.cbt__omr .omr input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}
.cbt__omr .omr strong {
    display: inline-block;
    text-align: center;
    padding: 2px;
    background-color: #313E55;
    color: #fff;
    font-family: 'Helvetica Neue';
    margin-right: 10px;
    font-weight: bold;
}
.cbt__omr .omr label {
    box-shadow: 0 0 0 1px #313E55;
    cursor: pointer;
    line-height: 0.4;
    text-align: center;
    width: 28px;
    height: 8px;
    font-family: 'Helvetica Neue';
    position: relative;
}
.cbt__omr .omr label::after {
    background-color: #555;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width 0.1s linear;
}
.cbt__omr .omr input[type=radio]:checked + label::after {
    width: 100%;
}
.cbt__omr .omr .label-inner {
    background-color: #fff;
    padding: 0.25em 0.13em;
    transform: translateY(-0.25em);
    width: 20px;
    color: #313E55;
}
.cbt__question {
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.cbt__question__img img {
    max-width: 400px;
    margin-bottom: 10px;
}
.cbt__question__desc {
    border: 2px solid #cacaca;
    margin-bottom: 15px;
}
.cbt__selects{
    margin-bottom: 15px;
}
.cbt__selects label {
    display: flex;
}
.cbt__selects label span {
    font-size: 1rem;
    line-height: 1.5;
    padding: 10px 10px 10px 30px;
    cursor: pointer;
    color: #444;
    position: relative;
}
.cbt__selects label span::before {
    content: '1';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1px solid #444;
    border-radius: 50%;
    text-align: center;
    font-family: 'EliceDigitalBaeum';
    font-weight: bold;
    line-height: 1.3;
    font-size: 0.83em;
    transition: all 0.25s;

}
.cbt__selects label:nth-of-type(1) span::before{
    content: '1';
}
.cbt__selects label:nth-of-type(2) span::before{
    content: '2';
}
.cbt__selects label:nth-of-type(3) span::before{
    content: '3';
}
.cbt__selects label:nth-of-type(4) span::before{
    content: '4';
}
.cbt__selects input {
    position: absolute;
    left: -9999px;
}
.cbt__selects input:checked + label span::before {
    color: #fff;
    box-shadow: inset 0 0 0 10px #313E55;
    border-color: #161c27;
}
.cbt__desc {
    background-color: #EACFF7;
    padding: 10px 10px 10px 35px;
    margin-bottom: 5px;
    border-radius: 10px;
    position: relative;
}
.cbt__desc::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-file-like' width='20' height='20' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Crect x='3' y='16' width='3' height='5' rx='1' /%3E%3Cpath d='M6 20a1 1 0 0 0 1 1h3.756a1 1 0 0 0 .958 -.713l1.2 -3c.09 -.303 .133 -.63 -.056 -.884c-.188 -.254 -.542 -.403 -.858 -.403h-2v-2.467a1.1 1.1 0 0 0 -2.015 -.61l-1.985 3.077v4z' /%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M5 12.1v-7.1a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-2.3' /%3E%3C/svg%3E");
}
.cbt__keyword {
    position: relative;
    background-color: #CAFBCD;
    padding: 10px 10px 10px 35px;
    display: inline-block;
    border-radius: 10px;
}
.cbt__keyword::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 9px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-flare' width='20' height='20' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Ccircle cx='12' cy='12' r='2' /%3E%3Cpath d='M3 12h4m5 -9v4m5 5h4m-9 5v4m-4.5 -13.5l1 1m8 -1l-1 1m0 7l1 1m-8 -1l-1 1' /%3E%3C/svg%3E");
}

/* .cbt__desc {
    background-color: #f8E0Dc;
    padding: 10px;
    margin-bottom: 5px;
    
}
.cbt__desc::before{
    content: '';
    position: absolute;
    left: 16px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-file-like' width='20' height='20' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Crect x='3' y='16' width='3' height='5' rx='1' /%3E%3Cpath d='M6 20a1 1 0 0 0 1 1h3.756a1 1 0 0 0 .958 -.713l1.2 -3c.09 -.303 .133 -.63 -.056 -.884c-.188 -.254 -.542 -.403 -.858 -.403h-2v-2.467a1.1 1.1 0 0 0 -2.015 -.61l-1.985 3.077v4z' /%3E%3Cpath d='M14 3v4a1 1 0 0 0 1 1h4' /%3E%3Cpath d='M5 12.1v-7.1a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-2.3' /%3E%3C/svg%3E");
}
.cbt__keyword {
    background-color: #f8E0Dc;
    padding: 10px;

}
.cbt__keyword::before{
    content: '';
    position: absolute;
    left: 16px;
    top: 10px;
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-flag' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23000000' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cline x1='5' y1='5' x2='5' y2='21' /%3E%3Cline x1='19' y1='5' x2='19' y2='14' /%3E%3Cpath d='M5 5a5 5 0 0 1 7 0a5 5 0 0 0 7 0' /%3E%3Cpath d='M5 14a5 5 0 0 1 7 0a5 5 0 0 0 7 0' /%3E%3C/svg%3E");
} */

/* dog__wrap */
.dog .tail, 
.dog .chin, 
.dog .tongue::before, 
.dog .tongue::after, 
.dog .mouth, 
.dog .nose, 
.dog .teardrop, 
.dog .eyes, 
.dog .face::before, 
.dog .face::after, 
.dog .ears::before, 
.dog .ears::after, 
.dog__wrap {
    transition: 0.2s ease-in;
}
.dog__wrap {
    position: relative;
}


.dog__wrap .true {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #f5534f;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 70%;
    top: 100px;
    font-family: 'EliceDigitalBaeum';
    opacity: 0;
}
.dog__wrap .false {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #f5534f;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: absolute;
    right: 70%;
    top: 100px;
    font-family: 'EliceDigitalBaeum';
    opacity: 0;
}
.dog__wrap.like .true {
    opacity: 1;
    animation: wobble 0.6s;
}
.dog__wrap.dislike .false {
    opacity: 1;
    animation: wobble 0.6s;
}
@keyframes wobble {
    0% {transform: translate(0) rotate(0deg);}
    15% {transform: translate(-25%) rotate(-5deg);}
    30% {transform: translate(20%) rotate(3deg);}
    45% {transform: translate(-15%) rotate(-3deg);}
    60% {transform: translate(10%) rotate(2deg);}
    75% {transform: translate(-5%) rotate(-1deg);}
    100% {transform: translate(0) rotate(0deg);}
}

.card-container {
    position: relative;
    width: 360px;
    height: 378px;
    margin: auto;
    padding-top: 125px;
    border-radius: 3%;
    /* background: #fff; */
    z-index: 0;
}
.card-container::before, .card-container::after {
    content: "";
    position: absolute;
    height: 100%;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 3%;
    z-index: -1;
}

.dog .head,
.dog .body {
    position: relative;
    width: 115px;
}
.dog .head {
    height: 115px;
    border-radius: 50% 50% 0 0;
    margin: 0 auto;
}
.dog .ears {
    position: relative;
    top: -14%;
    width: 100%;
}
.dog .ears::before, .dog .ears::after {
    content: "";
    position: absolute;
    top: 0;
    width: 35px;
    height: 70px;
    background: #CB7A1D;
    border-top: 11px solid #F7AA2B;
    border-left: 7px solid #F7AA2B;
    border-right: 7px solid #F7AA2B;
}
.dog .ears::before {
    left: 0;
    border-radius: 50% 45% 0 0;
}
.dog .ears::after {
    right: 0;
    border-radius: 45% 50% 0 0;
}
.dog .face {
    position: absolute;
    background: #F7AA2B;
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}
.dog .face::before, .dog .face::after {
    content: "";
    display: block;
    margin: auto;
    background: #FEFEFE;
}
.dog .face::before {
    width: 15px;
    height: 35px;
    margin-top: 24px;
    border-radius: 20px 20px 0 0;
}
.dog .face::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 60px;
    height: 65px;
    border-radius: 45% 45% 0 0;
}
.dog .eyes {
    position: relative;
    top: 29%;
    text-align: center;
}
.dog .eyes::before, .dog .eyes::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #451d1c;
    margin: 0 14.5%;
}
.dog .teardrop {
    position: absolute;
    top: 125%;
    left: 19%;
    width: 6px;
    height: 6px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(45deg);
    background: #FEFEFE;
    visibility: hidden;
}
.dog .nose {
    position: relative;
    top: 35%;
    width: 16px;
    height: 8px;
    border-radius: 35px 35px 65px 65px;
    background: #451d1c;
    margin: auto;
}
.dog .mouth {
    position: relative;
    top: 34.5%;
    width: 4px;
    height: 6px;
    margin: 0 auto;
    text-align: center;
    background: #451d1c;
}
.dog .mouth::before, .dog .mouth::after {
    content: "";
    position: absolute;
    top: -4px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 4px solid #451d1c;
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 2;
}
.dog .mouth::before {
    transform: translateX(-89%) rotate(45deg);
}
.dog .mouth::after {
    transform: translateX(-2px) rotate(45deg);
}
.dog .tongue {
    position: relative;
    z-index: 1;
}
.dog .tongue::before, .dog .tongue::after {
    content: "";
    position: absolute;
}
.dog .tongue::before {
    top: 10px;
    left: -7px;
    width: 18px;
    height: 0;
    border-radius: 50%;
    background: #451d1c;
    z-index: -1;
}
.dog .tongue::after {
    top: 14px;
    left: -4px;
    width: 12px;
    height: 0;
    border-radius: 20px;
    background: #F5534F;
    z-index: 5;
}
.dog .chin {
    position: relative;
    top: 47.5%;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    border-top: 10px solid #e8e7ec;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-radius: 2px;
    z-index: 0;
}
.dog .body {
    position: relative;
    height: 139px;
    margin: auto;
    z-index: 0;
}
.dog .body::before, .dog .body::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    width: 100%;
    margin: auto;
    background: #F7AA2B;
}
.dog .body::after {
    top: -2px;
    bottom: -1px;
    width: 60px;
    background: #FEFEFE;
}
.dog .tail {
    position: absolute;
    left: -60%;
    bottom: 1px;
    background: #F7AA2B;
    width: 93px;
    height: 15px;
    transform: rotate(45deg);
    transform-origin: 100% 50%;
    border-radius: 25px 0 0 25px;
    z-index: -2;
}
.dog .legs {
    position: absolute;
    bottom: 0;
    left: -10%;
    width: 120%;
    height: 15%;
    background: #F7AA2B;
    border-radius: 10px 10px 0 0;
}
.dog .legs::before, .dog .legs::after {
    content: "";
    position: absolute;
    bottom: 1px;
    background: #CB7A1D;
    z-index: -1;
}
.dog .legs::before {
    left: -7.5%;
    width: 115%;
    height: 55%;
    border-radius: 5px 5px 0 0;
}
.dog .legs::after {
    left: -3.5%;
    width: 107%;
    height: 250%;
    border-radius: 20px 20px 35px 35px;
}

@keyframes movetongue {
    100% {
        height: 27px;
    }
}

@keyframes movetongue {
    100% {
        height: 27px;
    }
}
@keyframes movetail {
    0% {
        transform: rotate(37deg);
    }
    100% {
        transform: rotate(52deg);
    }
}
@keyframes movetail {
    0% {
        transform: rotate(37deg);
    }
    100% {
        transform: rotate(52deg);
    }
}
@keyframes cry {
    100% {
        visibility: visible;
    }
}
@keyframes cry {
    100% {
        visibility: visible;
    }
}


/* dog__wrap like */
.like {
    background: #fff48e;
}
.like .face::before {
    margin-top: 10px;
}
.like .face::after {
    height: 85px;
}
.like .eyes {
    top: 13%;
}
.like .eyes::before,
.like .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 12.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}
.like .eyes::after {
    transform: rotate(37.5deg);
}
.like .nose {
    top: 18%;
}
.like .mouth {
    top: 16.5%;
}
.like .tongue::before {
    height: 12px;
}
.like .tongue::after {
    height: 24px;
    animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
    animation: movetongue 0.1s linear 0.35s infinite alternate forwards;
}
.like .chin {
    top: 34%;
}
.tail {
    animation: movetail 0.1s linear infinite alternate forwards;
    animation: movetail 0.1s linear infinite alternate forwards;
}

/* dog__wrap dislike */
.dislike {
    background: #371a50;
}
.dislike .ears::before {
    transform: rotate(-50deg) translate(-7px, 2px);
}
.dislike .ears::after {
    transform: rotate(50deg) translate(7px, 2px);
}
.dislike .face::before {
    margin-top: 28px;
}
.dislike .face::after {
    height: 55px;
}
.dislike .eyes {
    top: 38%;
}
.dislike .eyes::before,
.dislike .eyes::after {
    width: 18px;
    height: 5px;
    margin: 0px 14.5%;
    transform: rotate(-37.5deg);
    border-radius: 20px;
}
.dislike .eyes::after {
    transform: rotate(37.5deg);
}
.dislike .teardrop {
    animation: cry 0.1s ease-in 0.25s forwards;
    animation: cry 0.1s ease-in 0.25s forwards;
}
.dislike .nose {
    top: 44%;
}
.dislike .mouth {
    top: 42%;
}
.dislike .chin {
    top: 52%;
}
.dislike .tail {
    transform: rotate(0);
    animation: movetail 0.5s linear infinite alternate forwards;
    animation: movetail 0.5s linear infinite alternate forwards;
}
@media (min-width: 1400px) {
    .cbt__quiz .cbt {
        width: 32.3333%;
    } 
}

@media (max-width: 960px) {
    .cbt__quiz .cbt {
        width: 100%;
    }  
}

@media (max-width: 800px) {
    .cbt__aside {
        display: none;
    }  
    .cbt__header {
        width: 100%;
        flex-direction: column;
    } 
    .cbt__header h2 {
        margin-bottom: 10px;
    } 
    .cbt__conts {
        width: 100%;
    } 
}